[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-core = "==0.3.0"
langchain-openai = "==0.2.0"
langgraph = "==0.2.22"
python-dotenv = "==1.0.1"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.13"
